{% extends 'base2.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}

    <section class="login d-flex justify-content-center align-items-center py-5">
        <div class="container bg-secondary bg-opacity-75 rounded-4 text-tertiary p-5">

        <h1 class="text-center">Mot de passe oublié</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary">{{ button_label|default('Réinitialiser le mot de passe') }}</button>
        {{ form_end(form) }}
        </div>
    </section>

{% endblock %}
