{% extends 'base.html.twig' %}

{% block title %}Bienvenue!{% endblock %}

{% block body %}
    <section class="hero">
        <img class="hero__image " src="{{ asset('build/images/hero.jpeg') }}" alt="Voiture sportive rouge">
        <div class="container mt-5">
            <h1 class="text-center">Bienvenue au garage Parrot : votre spécialiste de l'automobile !</h1>
            <p class=>Votre partenaire de confiance pour tous vos besoins automobiles depuis 15 ans. Nous sommes passionnés par les voitures et dévoués à offrir des services de qualité supérieure. Notre équipe de techniciens expérimentés est là pour vous.</p>
        </div>

    </section>
{% endblock %}
