    <section class="hero ">
        <div class="container text-tertiary w-50 h-100 d-flex flex-column justify-content-center align-items-end">
            {# Hero section with a welcoming message #}
            <h1 class="fw-bold transparent-bg ">Bienvenue au garage Parrot : votre spécialiste de l'automobile !</h1>
            <p class="transparent-bg fs-5">Votre partenaire de confiance pour tous vos besoins automobiles depuis 15 ans. Nous sommes passionnés par les voitures et dévoués à offrir des services de qualité supérieure. Notre équipe de techniciens expérimentés est là pour vous.</p>
        </div>
    </section>