<div class="modal fade" id="testimonialModal" tabindex="-1" aria-labelledby="testimonialModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5 fw-bold" id="testimonialModal"> Donnez votre avis</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                {% include 'pages/testimonials/partials/_form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-square"></i> Fermer</button>
            </div>
        </div>
    </div>
</div>