<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <head>
        <meta charset="utf-8">
        <title>Biencenue</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400&family=Rajdhani:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
<body>
{% apply inline_css(source('@email_css/style.css')) %}
    <h1>Bonjour {{ username }} !</h1>
    <p>Vous avez fait une demande de réinitialisation de mot de passe. Pour finaliser votre demande, cliquer sur le lien: </p>
    <a href="{{ url('reset_password_edit/{token}', {token:token}) }}">Changer de mot de passe</a>
    <p>Attention, le lien est diponible pendant 2h.</p>
{% endapply %}
</body>
</html>