
$primary : #8D0102;
$secondary: #080A0E;
$tertiary: #F2F2F2;

$theme-colors:(
        "primary":$primary,
        "secondary":  $secondary,
        "tertiary": $tertiary
);

@import "~bootstrap-icons/font/bootstrap-icons";
@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "base";
