
$primary : #1b324b;
$secondary: #5B778DFF;
$light: #F2F2F2;
$success: #275932;
$danger: #8D0102;
$dark: #080A0E;
$warning : #dcd916;

$theme-colors:(
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "warning":    $warning
);

$prefix: "new";
$nav-pills-border-radius: 5px;
$nav-pills-link-active-color: $light;
$nav-pills-link-active-bg: $primary;
$nav-link-hover-color: $light;



@import "base";
@import "variables_db";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

