{% extends 'base_db.html.twig' %}

{% block title %}Nouveau Modèle{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column justify-content-evenly align-items-center text-primary">
        <h1 class="text-light fw-bold">Créer un nouveau modèle</h1>

        {{ include('admin/cars/_form.html.twig') }}

        <a class="btn btn-primary"  href="{{ path('cars_index') }}"><i class="bi bi-arrow-return-left"></i> Retour à la liste</a>
    </div>
{% endblock %}
