{{ form_start(form, {'attr': {'class':'bg-secondary bg-opacity-75 rounded-4 p-5 text-primary fw-medium'}} ) }}
    {{ form_widget(form) }}
<button class="btn btn-success"><i class="bi bi-floppy"></i> {{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

