{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}


    <div class="container-fluid bg-tertiary text-secondary">

        {% include 'partials/_messages.html.twig' %}

        <section class="container pt-5 d-flex flex-column align-items-center">
            <h2 class="fw-bold mt-3">Donnez votre avis !</h2>
            <p class="mt-3">Cher client, votre opinion compte ! Après l’achat ou la réparation de votre voiture, nous vous invitions à partager votre expérience en laissant un commentaire. Votre avis nous aidera à améliorer nos services. Veuillez noter que tous les commentaires seront modérés par notre équipe. Merci de votre participation.</p>

            <button type="button" class="btn btn-secondary mt-3" data-bs-toggle="modal" data-bs-target="#testimonialModal">
                <i class="bi bi-pencil-square"></i> Donner votre avis
            </button>

            {% include 'pages/testimonials/partials/_modal.html.twig' %}

        </section>

        <section class ="container pt-5">
            <div class="row">
                {% include 'pages/testimonials/partials/_testimonials_cards.html.twig' %}
            </div>
            <div class="navigation">
                {{ knp_pagination_render(testimonials) }}
            </div>
        </section>

    </div>
{% endblock %}
